.cache
.codex
.conda
.config
.dotnet
.ipynb_checkpoints
.local
.ipython
.jupyter
.npm
.saturn
.ssh
.vscode-server
.gitconfig
cmake
data
output_pred
!data/seg_example.csv
project
LightGBM
log/
lost+found
setup-logs
venv
workspace
artifacts
.bash_history
.saturn_is_setup
.wget-hsts

jupyterlab-workspace.json
logs.log
*.ipynboptuna_studies.db
